<h1>Málaga la bella</h1>

<p>
  Málaga es una ciudad y un municipio de España, capital de la
  provincia homónima y ubicada en la comunidad autónoma de Andalucía.
</p>
  
<p>
  Con una población de 571026 habitantes a 1 de enero de 2018,
  Málaga es la sexta ciudad más poblada de España, la segunda
  de Andalucía y la número cuarenta y seis de la Unión Europea,
  así como la mayor de entre las que no son capitales autonómicas.
  Del mismo modo, es la ciudad costera más grande y poblada del
  sur de España.
</p>